*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* input não ultrapassar a área maxima de suas respectivas divs */
  font-family: 'Open Sans', 'sans-serif'; /* Se não pegar open sans, pega sans serif */
}

html, body, #root{
  background-color: #efefef;
  height: 100%;
}